/* @config "../tailwind.config.js"; */
@import "tailwindcss";

:root {
  --background: #151515;
  --foreground: #ffffff;
  --component-bg: #303030;
  --input-bg: #212121;
  --active-bg: #3b3b3b;
  --muted-text: #aaaaaa;
  --accent: #3c67ff;
  --accent-light: #7190ff;
  --stepper-btn-border-radius: 5px;
  --stepper-padding: 0.5rem;
  --stepper-border-color: #3b3b3b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

input:focus {
  outline: 2px solid var(--accent);
}

@theme inline {
  --font-family: "Inter", sans-serif;
  --breakpoint-xs: 340px;
  --breakpoint-3xl: 120rem;
  --size-stepper-padding: var(--stepper-padding);
  --stepper-btn-border-radius: var(--stepper-btn-border-radius);
}

@layer base {
  body {
  }
}
